<div class='relative'>
	<table class='referral-topbar'>
		<tr>
			<td class='referral-topbar-image-block' ng-click='back()'>
				<img class='referral-topbar-image' src="images/back.png">
			</td>
			<td class='referral-topbar-text'>
				<div ng-bind='backText'></div>
			</td>
		</tr>
	</table>

	<div class='referral-block'>
		<table class='referral-info'>
			<tr>
				<td class='referral-info-left referral-info-topborder referral-info-botborder'>
					<img class='referral-info-earn' src='app/pages/referral/images/referral_earn.png'>
				</td>
				<td class='referral-info-right referral-info-topborder referral-info-botborder' ng-click='showRefList()'>
					<div class='referral-info-but' ng-bind='earnRef'></div>
				</td>
			</tr>
			<tr>
				<td class='referral-info-left referral-info-botborder'>
					<img class='referral-info-howwork' src='app/pages/referral/images/referral_howwork.png'>
				</td>
				<td class='referral-info-right referral-info-botborder' ng-click='showRefInfo()'>
					<div class='referral-info-but' ng-bind='howRefWork'></div>
				</td>
			</tr>
		</table>

		<table class='referral-data referral-data-referer center none'>
			<tr>
				<td class='left'>
					<div class='referral-data-text' ng-bind='refererText'></div>
				</td>
			</tr>
			<tr>
				<td>
					<input class='referral-data-input referral-data-input-referer left' type='text' ng-model='usersReferer' readonly>
				</td>
			</tr>
		</table>

		<table class='referral-data referral-data-enter center'>
			<tr>
				<td class='left' colspan='2'>
					<div class='referral-data-text' ng-bind='enteredRefText'></div>
				</td>
			</tr>
			<tr>
				<td>
					<input class='referral-data-input center' ng-enter='enterRefNum()' type='number' ng-model='enteredRefNum' ng-focus='hideStatus()'>
				</td>
				<td class='referral-data-right'>
					<div class='referral-data-but relative' ng-click='enterRefNum()'>
						<img class='referral-data-enternum' src='app/pages/referral/images/referral_enternum.png'>
					</div>
				</td>
			</tr>
		</table>

		<div class='referral-status none' ng-bind='statusMessage'></div>

		<table class='referral-data referral-data-links center'>
			<tr>
				<td class='left' colspan='2'>
					<div class='referral-data-text' ng-bind='linkAppText'></div>
				</td>
			</tr>
			<tr>
				<td>
					<input class='referral-data-input center' type='text' ng-model='appLink' readonly>
				</td>
				<td class='referral-data-right'>
					<div class='referral-data-but relative' ng-click='copy("link")'>
						<img class='referral-data-link' src='app/pages/referral/images/referral_link.png'>
					</div>
				</td>
			</tr>

			<tr>
				<td class='left' colspan='2'>
					<div class='referral-data-text' ng-bind='curRefText'></div>
				</td>
			</tr>
			<tr>
				<td>
					<input class='referral-data-input center' type='text' ng-model='curRefNum' readonly>
				</td>
				<td class='referral-data-right'>
					<div class='referral-data-but relative' ng-click='copy("id")'>
						<img class='referral-data-link' src='app/pages/referral/images/referral_link.png'>
					</div>
				</td>
			</tr>
		</table>
	</div>

	<div class='referral-ratedialog none'>
		<table class='referral-topbar'>
			<tr>
				<td class='referral-topbar-image-block' ng-click='hideRefList()'>
					<img class='referral-topbar-image' src="images/cross_white.png">
				</td>
				<td class='referral-topbar-text'>
					<div ng-bind='earnRef'></div>
				</td>
			</tr>
		</table>
		<div class='referral-counttime center'></div>
		<div class='referral-list'>
			<table class='referral-list-block'>
				<tr ng-repeat='referral in referrals' class='referral-list-elem' ng-style='setColor($index, referral.deposit)'>
					<td class='referral-list-margin'></td>
					<td class='referral-list-left'>
						<div class='referral-list-nick'>{{referral.login}}</div>
					</td>
					<td class='referral-list-right'>
						<img class='referral-list-image' src="images/diamonds_red.png"><div class='referral-list-num inline'>{{referral.deposit}}</div>
					</td>
					<td class='referral-list-margin'></td>
				</tr>
			</table>
		</div>
		<table class='referral-notasks-block none'>
			<tr>
				<td class='center'>
					<img class='referral-notasks-image' src='images/no_tasks.png'>
					<div class='referral-notasks-text' ng-bind='noReferralsText'></div>
				</td>
			</tr>
		</table>
	</div>
</div>